.productStyleHorizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 30px;
    background-color: #92a69d;
}

.productStyleVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 30px;
    background-color: #92a69d;
}

.productInfoHorizontal {
    display: flex;
    flex-direction: column;
    width: 19%;
    align-items: center;
}

.productInfoVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDescription {
    width: 70%;
}

h1 {
    width: 100%;
    text-align: center;
}

.infoAndCart {
    display: flex;
    flex-direction: column;
}

.containerTextField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchField {
    width: 20%;
    
    
}

.productListSearchContainer
{
    display: flex;
    align-items: center;
}

.containerProductListSearchComponent
{
    display: flex;
}

.cartProduct {
    background-color: #92a69d;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.productCart {
    background-color: #92a69d;
    border: none;
}

.productCartImage {
    width: 30px;
    height: 30px;
}

.productAction {
    display: flex;
    flex-direction: row;
}

.userManagementStyle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4dabf5;
    margin-top: 30px;
    border-radius : 30px;
    
}

.editButton {
   background-color: #4dabf5;
    border: none;
}

.editButton:hover {
    cursor: pointer;
}

.editImage {
    width: 30px;
    height: 30px;
}