.productStyleHorizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 30px;
    background-color: #92a69d;
}

.productStyleVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 30px;
    background-color: #92a69d;
}

.productInfoHorizontal {
    display: flex;
    flex-direction: column;
    width: 19%;
    align-items: center;
}

.productInfoVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDescription {
    width: 70%;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
}

.infoAndCart {
    display: flex;
    flex-direction: column;
}

.containerTextField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchField {
    width: 20%;
    
    
}

.productListSearchContainer
{
    display: flex;
    align-items: center;
}

.containerProductListSearchComponent
{
    display: flex;
}

.cartProduct {
    background-color: #92a69d;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.productCart {
    background-color: #92a69d;
    border: none;
}

.productCartImage {
    width: 30px;
    height: 30px;
}

.productAction {
    display: flex;
    flex-direction: row;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.buttonCheckout {
    background-color: #92a69d;
    font-size: 1.5rem;
    border : none;
    color : black;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
}

.textFieldManageContainer {
    display: flex;
    flex-direction: column;
}

.addUserContainer {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 25%;
    align-items: center;
    align-content: center;
    
}

.buttonSubmit {
    background-color: #4dabf5;
    border:none;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    
}

.buttonSubmitContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.userTableWrap {
    max-height : 50vh;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.userTable th, .userTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.userTable th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0; 
    z-index: 1;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
}

.userTable th, .userTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.userTable th {
    background-color: #f2f2f2;
}

.evenRow {
    background-color: #f9f9f9;
}

.oddRow {
    background-color: #e9e9e9;
}

.editButton, .deleteButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.editImage, .deleteImage {
    width: 20px;
    height: 20px;
}